<div class="col-md-2  right-sidebar">



    <ul>
        <h3>User</h3>
        <li>
            <p>@ViewBag.user</p>

        </li>
        <hr>
        <h3>Total Sharing</h3>
        <li>
            <p>@ViewBag.sharing</p>
        </li>
    </ul>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Scripts/bootstrap.min.js"></script>